.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  display: grid;
  font-size:14px;
  padding: 20px;
  text-align: left;
  position: static;
  bottom: auto; /* 위치를 자동으로 */
}

@font-face {
  font-family: Sejong;
  src: url(../src/fonts/Sejong_hospital_Bold.ttf);
}

.font{
  margin-top: 70px;
  width: auto;
  height: 225px;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: rgb(91, 80, 104);
  font-family: "Sejong";
}

.font1{
  margin-top: 120px;
  width: auto;
  height: 150px;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: black;
  font-family: "Sejong";
}

.jum {
  border-top: 2px dashed rgba(0, 0, 0, .35);
  border-bottom: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: auto;
}
  
.start {
  transform: scale(0);
  opacity : 0;
  margin-top: 130px;
  font-family: Sejong;
}
.end {
  transform: scale(1);
  opacity : 1;
  transition : opacity 5s;
}
.end1{
  transform: scale(1);
  opacity : 1;
  transition : opacity 5s;
}
.end2{
  transform: scale(1);
  opacity : 1;
  transition : opacity 6s;
}

.table{
  margin-top: 35px;
}
