.navbar {
  background-color: #3a3a3a;  /* 배경색 */
  padding: 10px;
  display: flex;
  justify-content: space-between;  /* 오른쪽 정렬 */
  align-items: center;
  
}


@media (max-width: 991px) {
  .navbar {
    height: auto;
    min-height: 87px; /* 작은 화면에서 높이 조정 */
    padding: 5px; /* 패딩 줄이기 */
  }
}

.navbar-brand img {
  width: 120px; /* 원하는 너비로 설정 */
  height: 85px; /* 자동으로 높이 조정 */
}

.navbar-logo {
  margin-right: 50px;  /* 로고와 메뉴 사이의 간격 최소화 */
  margin-left: 10px;
}

.navbar-logo a {
  color: black;  /* 로고 색상 */
  text-decoration: none;
  font-size: 1.0em;
}

.navbar-menu {
  list-style: none;  /* 목록 스타일 제거 */
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-top: 10px;
  margin-right: 25px;  /* 메뉴 항목 간 간격 */
}

.navbar-menu a {
  color: black;  /* 기본 텍스트 색상 */
  text-decoration: none;
  transition: color 0.3s;  /* 색상 전환 효과 */
}

.navbar-menu a:hover {
  color: #e7bf1c;  /* 호버 시 색상 변화 */
}